**
!VERSION
!src/
src/**
!src/cpp/
src/cpp/**
!src/cpp/CMakeLists.txt
!src/cpp/code/
!src/cpp/code/**
!src/cpp/shared/
src/cpp/shared/**
!src/cpp/shared/infra/
src/cpp/shared/infra/**
!src/cpp/shared/infra/CMakeLists.txt
!src/cpp/shared/infra/code/
!src/cpp/shared/infra/code/**
!src/cpp/shared/infra/scripts/
src/cpp/shared/infra/scripts/**
!src/cpp/shared/infra/scripts/cmake/
!src/cpp/shared/infra/scripts/cmake/**
