[submodule "src/cpp/code/apps/unreal/KanoGitGUI"]
	path = src/cpp/code/apps/unreal/KanoGitGUI
	url = https://github.com/kanohorizonia/KanoGitGUI.git
	branch = main
[submodule "src/cpp/code/thirdparty/cli11"]
	path = src/cpp/code/thirdparty/cli11
	url = https://github.com/CLIUtils/CLI11.git
	branch = branch_v2.6.2
	kog-push-policy = skip
[submodule "src/cpp/code/thirdparty/ftxui"]
	path = src/cpp/code/thirdparty/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
	branch = branch_v5.0.0
	kog-push-policy = skip
[submodule "assets/ignore-sources/upstream/github-gitignore"]
	path = assets/ignore-sources/upstream/github-gitignore
	url = https://github.com/github/gitignore.git
