[submodule "assets/ignore-sources/upstream/github-gitignore"]
	path = assets/ignore-sources/upstream/github-gitignore
	url = https://github.com/github/gitignore.git
	branch = main
	kog-sync = true
	kog-hygiene = false
	kog-commit = false
	kog-push = false
[submodule "src/cpp/shared/infra"]
	path = src/cpp/shared/infra
	url = https://github.com/kanohorizonia/kano-cpp-infra.git
	branch = main
