<Include xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Property Id="KANO_GFW_INSTALLPATH_HKCU" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsInstallPathCurrentUserSearch" Root="HKCU" Key="Software\GitForWindows" Name="InstallPath" Type="raw" />
    </Property>
    <Property Id="KANO_GFW_INSTALLPATH_HKLM" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsInstallPathMachineSearch" Root="HKLM" Key="Software\GitForWindows" Name="InstallPath" Type="raw" />
    </Property>
    <Property Id="KANO_GFW_INSTALLPATH_HKLM32" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsInstallPathWow6432Search" Root="HKLM" Key="Software\WOW6432Node\GitForWindows" Name="InstallPath" Type="raw" />
    </Property>

    <Property Id="KANO_GFW_INSTALLLOCATION_UNINSTALL_HKCU" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsUninstallInstallLocationCurrentUserSearch" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Git_is1" Name="InstallLocation" Type="raw" />
    </Property>
    <Property Id="KANO_GFW_INSTALLLOCATION_UNINSTALL_HKLM" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsUninstallInstallLocationMachineSearch" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Git_is1" Name="InstallLocation" Type="raw" />
    </Property>
    <Property Id="KANO_GFW_INSTALLLOCATION_UNINSTALL_HKLM32" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsUninstallInstallLocationWow6432Search" Root="HKLM" Key="Software\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Git_is1" Name="InstallLocation" Type="raw" />
    </Property>

    <Property Id="KANO_GFW_CURRENTVERSION_HKCU" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsCurrentVersionCurrentUserSearch" Root="HKCU" Key="Software\GitForWindows" Name="CurrentVersion" Type="raw" />
    </Property>
    <Property Id="KANO_GFW_CURRENTVERSION_HKLM" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsCurrentVersionMachineSearch" Root="HKLM" Key="Software\GitForWindows" Name="CurrentVersion" Type="raw" />
    </Property>
    <Property Id="KANO_GFW_CURRENTVERSION_HKLM32" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsCurrentVersionWow6432Search" Root="HKLM" Key="Software\WOW6432Node\GitForWindows" Name="CurrentVersion" Type="raw" />
    </Property>

    <Property Id="KANO_GFW_VERSION_UNINSTALL_HKCU" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsUninstallDisplayVersionCurrentUserSearch" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Git_is1" Name="DisplayVersion" Type="raw" />
    </Property>
    <Property Id="KANO_GFW_VERSION_UNINSTALL_HKLM" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsUninstallDisplayVersionMachineSearch" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Git_is1" Name="DisplayVersion" Type="raw" />
    </Property>
    <Property Id="KANO_GFW_VERSION_UNINSTALL_HKLM32" Secure="yes">
      <RegistrySearch Id="KanoGitForWindowsUninstallDisplayVersionWow6432Search" Root="HKLM" Key="Software\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Git_is1" Name="DisplayVersion" Type="raw" />
    </Property>

    <Property Id="KANO_GIT_EXE_DEFAULT_PROGRAMFILES64" Secure="yes">
      <DirectorySearch Id="KanoGitDefaultProgramFiles64Search" Path="[ProgramFiles64Folder]Git\cmd" Depth="0">
        <FileSearch Id="KanoGitExeDefaultProgramFiles64Search" Name="git.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_DEFAULT_PROGRAMFILES" Secure="yes">
      <DirectorySearch Id="KanoGitDefaultProgramFilesSearch" Path="[ProgramFilesFolder]Git\cmd" Depth="0">
        <FileSearch Id="KanoGitExeDefaultProgramFilesSearch" Name="git.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_DEFAULT_LOCALAPPDATA" Secure="yes">
      <DirectorySearch Id="KanoGitDefaultLocalAppDataSearch" Path="[LocalAppDataFolder]Programs\Git\cmd" Depth="0">
        <FileSearch Id="KanoGitExeDefaultLocalAppDataSearch" Name="git.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_BASH_EXE_DEFAULT_PROGRAMFILES64" Secure="yes">
      <DirectorySearch Id="KanoBashDefaultProgramFiles64Search" Path="[ProgramFiles64Folder]Git\usr\bin" Depth="0">
        <FileSearch Id="KanoBashExeDefaultProgramFiles64Search" Name="bash.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_BASH_EXE_DEFAULT_PROGRAMFILES" Secure="yes">
      <DirectorySearch Id="KanoBashDefaultProgramFilesSearch" Path="[ProgramFilesFolder]Git\usr\bin" Depth="0">
        <FileSearch Id="KanoBashExeDefaultProgramFilesSearch" Name="bash.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_BASH_EXE_DEFAULT_LOCALAPPDATA" Secure="yes">
      <DirectorySearch Id="KanoBashDefaultLocalAppDataSearch" Path="[LocalAppDataFolder]Programs\Git\usr\bin" Depth="0">
        <FileSearch Id="KanoBashExeDefaultLocalAppDataSearch" Name="bash.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_GIT_EXE_MIN244_DEFAULT_PROGRAMFILES64" Secure="yes">
      <DirectorySearch Id="KanoGitExeMin244DefaultProgramFiles64Search" Path="[ProgramFiles64Folder]Git\cmd" Depth="0">
        <FileSearch Id="KanoGitExeMin244DefaultProgramFiles64FileSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MIN244_DEFAULT_PROGRAMFILES" Secure="yes">
      <DirectorySearch Id="KanoGitExeMin244DefaultProgramFilesSearch" Path="[ProgramFilesFolder]Git\cmd" Depth="0">
        <FileSearch Id="KanoGitExeMin244DefaultProgramFilesFileSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MIN244_DEFAULT_LOCALAPPDATA" Secure="yes">
      <DirectorySearch Id="KanoGitExeMin244DefaultLocalAppDataSearch" Path="[LocalAppDataFolder]Programs\Git\cmd" Depth="0">
        <FileSearch Id="KanoGitExeMin244DefaultLocalAppDataFileSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_GIT_EXE_CMD_HKCU" Secure="yes">
      <DirectorySearch Id="KanoGitCmdDirCurrentUserSearch" Path="[KANO_GFW_INSTALLPATH_HKCU]\cmd" Depth="0">
        <FileSearch Id="KanoGitExeCmdCurrentUserSearch" Name="git.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_CMD_HKLM" Secure="yes">
      <DirectorySearch Id="KanoGitCmdDirMachineSearch" Path="[KANO_GFW_INSTALLPATH_HKLM]\cmd" Depth="0">
        <FileSearch Id="KanoGitExeCmdMachineSearch" Name="git.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_CMD_HKLM32" Secure="yes">
      <DirectorySearch Id="KanoGitCmdDirWow6432Search" Path="[KANO_GFW_INSTALLPATH_HKLM32]\cmd" Depth="0">
        <FileSearch Id="KanoGitExeCmdWow6432Search" Name="git.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_GIT_EXE_MINGW64_HKCU" Secure="yes">
      <DirectorySearch Id="KanoGitMingw64DirCurrentUserSearch" Path="[KANO_GFW_INSTALLPATH_HKCU]\mingw64\bin" Depth="0">
        <FileSearch Id="KanoGitExeMingw64CurrentUserSearch" Name="git.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MINGW64_HKLM" Secure="yes">
      <DirectorySearch Id="KanoGitMingw64DirMachineSearch" Path="[KANO_GFW_INSTALLPATH_HKLM]\mingw64\bin" Depth="0">
        <FileSearch Id="KanoGitExeMingw64MachineSearch" Name="git.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MINGW64_HKLM32" Secure="yes">
      <DirectorySearch Id="KanoGitMingw64DirWow6432Search" Path="[KANO_GFW_INSTALLPATH_HKLM32]\mingw64\bin" Depth="0">
        <FileSearch Id="KanoGitExeMingw64Wow6432Search" Name="git.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_GIT_EXE_MINGW32_HKCU" Secure="yes">
      <DirectorySearch Id="KanoGitMingw32DirCurrentUserSearch" Path="[KANO_GFW_INSTALLPATH_HKCU]\mingw32\bin" Depth="0">
        <FileSearch Id="KanoGitExeMingw32CurrentUserSearch" Name="git.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MINGW32_HKLM" Secure="yes">
      <DirectorySearch Id="KanoGitMingw32DirMachineSearch" Path="[KANO_GFW_INSTALLPATH_HKLM]\mingw32\bin" Depth="0">
        <FileSearch Id="KanoGitExeMingw32MachineSearch" Name="git.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MINGW32_HKLM32" Secure="yes">
      <DirectorySearch Id="KanoGitMingw32DirWow6432Search" Path="[KANO_GFW_INSTALLPATH_HKLM32]\mingw32\bin" Depth="0">
        <FileSearch Id="KanoGitExeMingw32Wow6432Search" Name="git.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_BASH_EXE_BIN_HKCU" Secure="yes">
      <DirectorySearch Id="KanoBashBinDirCurrentUserSearch" Path="[KANO_GFW_INSTALLPATH_HKCU]\bin" Depth="0">
        <FileSearch Id="KanoBashExeBinCurrentUserSearch" Name="bash.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_BASH_EXE_BIN_HKLM" Secure="yes">
      <DirectorySearch Id="KanoBashBinDirMachineSearch" Path="[KANO_GFW_INSTALLPATH_HKLM]\bin" Depth="0">
        <FileSearch Id="KanoBashExeBinMachineSearch" Name="bash.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_BASH_EXE_BIN_HKLM32" Secure="yes">
      <DirectorySearch Id="KanoBashBinDirWow6432Search" Path="[KANO_GFW_INSTALLPATH_HKLM32]\bin" Depth="0">
        <FileSearch Id="KanoBashExeBinWow6432Search" Name="bash.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_BASH_EXE_USRBIN_HKCU" Secure="yes">
      <DirectorySearch Id="KanoBashUsrBinDirCurrentUserSearch" Path="[KANO_GFW_INSTALLPATH_HKCU]\usr\bin" Depth="0">
        <FileSearch Id="KanoBashExeUsrBinCurrentUserSearch" Name="bash.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_BASH_EXE_USRBIN_HKLM" Secure="yes">
      <DirectorySearch Id="KanoBashUsrBinDirMachineSearch" Path="[KANO_GFW_INSTALLPATH_HKLM]\usr\bin" Depth="0">
        <FileSearch Id="KanoBashExeUsrBinMachineSearch" Name="bash.exe" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_BASH_EXE_USRBIN_HKLM32" Secure="yes">
      <DirectorySearch Id="KanoBashUsrBinDirWow6432Search" Path="[KANO_GFW_INSTALLPATH_HKLM32]\usr\bin" Depth="0">
        <FileSearch Id="KanoBashExeUsrBinWow6432Search" Name="bash.exe" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_GIT_EXE_MIN244_CMD_HKCU" Secure="yes">
      <DirectorySearch Id="KanoGitCmdDirMinVersionCurrentUserSearch" Path="[KANO_GFW_INSTALLPATH_HKCU]\cmd" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionCmdCurrentUserSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MIN244_CMD_HKLM" Secure="yes">
      <DirectorySearch Id="KanoGitCmdDirMinVersionMachineSearch" Path="[KANO_GFW_INSTALLPATH_HKLM]\cmd" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionCmdMachineSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MIN244_CMD_HKLM32" Secure="yes">
      <DirectorySearch Id="KanoGitCmdDirMinVersionWow6432Search" Path="[KANO_GFW_INSTALLPATH_HKLM32]\cmd" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionCmdWow6432Search" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_GIT_EXE_MIN244_MINGW64_HKCU" Secure="yes">
      <DirectorySearch Id="KanoGitMingw64DirMinVersionCurrentUserSearch" Path="[KANO_GFW_INSTALLPATH_HKCU]\mingw64\bin" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionMingw64CurrentUserSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MIN244_MINGW64_HKLM" Secure="yes">
      <DirectorySearch Id="KanoGitMingw64DirMinVersionMachineSearch" Path="[KANO_GFW_INSTALLPATH_HKLM]\mingw64\bin" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionMingw64MachineSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MIN244_MINGW64_HKLM32" Secure="yes">
      <DirectorySearch Id="KanoGitMingw64DirMinVersionWow6432Search" Path="[KANO_GFW_INSTALLPATH_HKLM32]\mingw64\bin" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionMingw64Wow6432Search" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_GIT_EXE_MIN244_MINGW32_HKCU" Secure="yes">
      <DirectorySearch Id="KanoGitMingw32DirMinVersionCurrentUserSearch" Path="[KANO_GFW_INSTALLPATH_HKCU]\mingw32\bin" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionMingw32CurrentUserSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MIN244_MINGW32_HKLM" Secure="yes">
      <DirectorySearch Id="KanoGitMingw32DirMinVersionMachineSearch" Path="[KANO_GFW_INSTALLPATH_HKLM]\mingw32\bin" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionMingw32MachineSearch" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>
    <Property Id="KANO_GIT_EXE_MIN244_MINGW32_HKLM32" Secure="yes">
      <DirectorySearch Id="KanoGitMingw32DirMinVersionWow6432Search" Path="[KANO_GFW_INSTALLPATH_HKLM32]\mingw32\bin" Depth="0">
        <FileSearch Id="KanoGitExeMinVersionMingw32Wow6432Search" Name="git.exe" MinVersion="2.44.0.0" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_INSTALLROOT_GITDIR_HEAD" Secure="yes">
      <DirectorySearch Id="KanoInstallRootGitDirSearch" Path="[WIX_DIR_PROFILE]\.agents\skills\kano_installed\.git" Depth="0">
        <FileSearch Id="KanoInstallRootGitDirHeadSearch" Name="HEAD" />
      </DirectorySearch>
    </Property>

    <Property Id="KANO_INSTALLROOT_GITFILE" Secure="yes">
      <DirectorySearch Id="KanoInstallRootSearch" Path="[WIX_DIR_PROFILE]\.agents\skills\kano_installed" Depth="0">
        <FileSearch Id="KanoInstallRootGitFileSearch" Name=".git" />
      </DirectorySearch>
    </Property>
  </Fragment>
</Include>
